body {
  font-family: 'Open Sans', sans-serif;
}

// text and image
h1 {
  font-family: 'Open Sans';
  font-size: 1.5rem;
  font-weight: bold;
  height: auto;
  width: auto;
}

ul {
  list-style-type: none;
}

a{
  color: inherit;
  text-decoration: none;
}

.active {
  color: red;
}

.landing-page-container {
  display: flex;

  .landing-page-upper {
    height: 70vh;
    width: 100vw;
    background-color: black;
    display: flex;
    justify-content: center;

    img {
      width: 50%;
      margin-right:60px;
      margin-bottom: 50px;
    }
  }

  .signin {
    position: absolute;
    top: 65vh;
    height: 12vh;
    left: 40vw;
    width: 20vw;
    border: none;
    border-radius: 5px;
    background-color: #E10000;

    .signin-text {
      font-size: 2vw;
      color: white;
    }
  }
}
