
$mafia-red: #D0011B;

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

// text and image
h1 {
  font-family: 'Open Sans';
  font-size: 1.5rem;
  font-weight: bold;
  height: auto;
  width: auto;
}

ul {
  list-style-type: none;
}

a{
  color: inherit;
  text-decoration: none;
}

.active {
  color: $mafia-red;
}

nav {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;

  .logo-top-left {
    padding: 20px;
    height: 70px;
    width: 70px;
  }

  #signoutbutt {
    margin-right: 30px;
    font-size: 30px;
    color: #ffffff;
    border: 4px solid #ffffff;
    border-radius: 10px;
    background-color: #000000;
    padding: 5px;
  }
}

.landing-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000000;

  .landing-page-upper {
    width:100vw;
    height: 90vh;

    img {
      position: absolute;
      width: 40vw;
      left: 28vw;
      top: 30vh;
      opacity:0.1;
      transition:opacity 1s linear;
    }

    img:hover{
      opacity: 1;
    }
  }

  .landing-page-upper:hover{
    opacity: 1;
  }

  .signin {
    position: absolute;
    top: 73vh;
    left: 42vw;
    height: 10vh;
    width: 15vw;
    border: none;
    border-radius: 10px;
    background-color: $mafia-red;
    box-shadow: 3px 3px 0 #ad0015;

    .signin-text {
      font-size: 4vh;
      color: white;
    }
  }

  .signin:active {
    box-shadow: 0 3px 0 #ad0015;
    transform: translateY(3px);
  }
}

//signup
.signup_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans';
  background-color: white;
  height: 100vh;

  .signup_input{
    width: 60vw;
    height: 4vh;
    background-color: #D8D8D8;
    border: none;
    padding: 5px;
    font-size: 2vw;
    margin-bottom: 10px;
  }
  .signup_done{
    .signup_button{
      width: 10vw;
      height: 5vh;
      margin-right: 10px;
      border: none;
      border-radius: 5px;
      background-color: #E10000;
      font-size: 2vw;
      color: white;
    }
  }
}


.signin_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans';
  background-color: white;
  height: 100vh;

  .signin_input{
    width: 60vw;
    height: 4vh;
    background-color: #D8D8D8;
    border: none;
    padding: 5px;
    font-size: 2vw;
    margin-bottom: 10px;
  }

  .signin_done{
    #buttons {
      flex-direction: row;
      justify-content: center;

      .signin_button{
        width: 10vw;
        height: 5vh;
        margin-right: 10px;
        border: none;
        border-radius: 5px;
        background-color: #E10000;
        font-size: 2vw;
        color: white;
      }
    }

    .signup_link{
      margin-top: 10px;

      .signup_text{
        color: #E10000;
        font-weight: bold;
      }
    }
  }
}

// Nav
.Nav{
  position: absolute;
  height: 10vh;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .NavUser{
    display: flex;
    flex-direction: row;
  }
}

// Style attributes for the profile page
.ProfilePage {
  display: flex;
  flex-direction: column;
  background-color: black;

  .BasicInfo {
    height: 15vh;
    color: white;
    margin-left: 30vw;
  }

  .MainProfile {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    height: 85vh;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0 80px;

    .UserInfo {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      margin: 30px;
    }

    .GameData {
      flex-grow: 5;
      margin: 30px;

      .MostPlayed {
        display: flex;
        flex-direction: column;

        .MostFrequentPlayer {
          border: .5px solid black;
          height: 160px;
          width: 100px;
          align-self: center;
        }
      }

      .Badge-Section {
        display: flex;
        flex-direction: column;

        .Badges {
          align-self: center;

          .Badge-Singular {
            border: 1px solid black;
            border-radius: 10px;
            height: 120px;
            width: 120px;
          }
        }
      }
    }
  }
}

.chat-render-container {
  background-color: #ffffff;
  color: #000000;
  margin-right: 12px;
  margin-top: 12px;
  border: 3px solid black;
  display:flex;
  flex-direction: column;
  justify-content:flex-end;
  overflow: auto;
  width: 20vw;
  height: 90vh;

  .chat-outcome {
    padding-left: 10px;
    padding-bottom: 5px;
  }
  .chat-input {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    #text-area {
      border-top: 3px solid black;
      border-left: none;
      border-right: none;
      border-bottom: none;
      height: 3vh;
      width: 20vw;
      padding-left: 10px;
      font-size: 20px;
    }
  }
}

.lobby-container {
 display: flex;
 flex-direction: row;
 justify-content: space-between;

  .StagesDisplay {
    width: 80vw;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
  }
}

.spinny-loady {
  border: 30px solid rgb(200, 200, 200);
  border-top: 30px solid $mafia-red;
  border-radius: 50%;
  width: 170px;
  height: 170px;
  animation: spin 1s linear infinite;
}

.join-container {
  display: flex;
  justify-content: center;
  height: 85vh;
  align-items: center;

  #join-button {
    background-color: $mafia-red;
    border-radius: 40px;
    border: none;
    width: 17vw;
    height:40vh;
    color: #ffffff;
    font-size: 5vh;
    margin: 100px;
  }

  #join-button:active {
    box-shadow: 0 2px 0 #db4d4d;
    transform: translateY(3px);
  }
}

#render-butt {
  background-color: $mafia-red;
  border: none;
  color: #ffffff;
  font-size: 2.5vh;
  border-radius: 10px;
  width: 4vw;
  height: 4vh;
}

.reactComment {
  color: white;
}

.playerDeadName {
  color: $mafia-red;
}

.stage1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
