body {
  font-family: 'Open Sans', sans-serif;
  background-color: black;
  color: white;
}

// text and image
h1 {
  font-family: 'Open Sans';
  font-size: 1.5rem;
  font-weight: bold;
  height: auto;
  width: auto;
}

ul {
  list-style-type: none;
}

a{
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
}

.active {
  color: red;
}
