
$mafia-red: #D0011B;

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

// text and image
h1 {
  font-family: 'Open Sans';
  font-size: 1.5rem;
  font-weight: bold;
  height: auto;
  width: auto;
}

ul {
  list-style-type: none;
}

a{
  color: inherit;
  text-decoration: none;
}

.active {
  color: $mafia-red;
}

nav {
  background-color: black;
  display: flex;

  .logo-top-left {
    padding: 20px;
    height: 50px;
    width: 10%;
  }
}

.landing-page-container {
  display: flex;

  .landing-page-upper {
    height: 70vh;
    width: 100vw;
    background-color: black;
    display: flex;
    justify-content: center;

    img {
      width: 40%;
      margin-right:60px;
      margin-bottom: 50px;
    }
  }

  .signin {
    position: absolute;
    top: 76vh;
    height: 12vh;
    left: 40vw;
    width: 20vw;
    border: none;
    border-radius: 10px;
    background-color: $mafia-red;

    .signin-text {
      font-size: 3vw;
      color: white;
    }
  }
}

//signup
.signup_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans';
  background-color: white;
  height: 100vh;

  .signup_input{
    width: 60vw;
    height: 4vh;
    background-color: #D8D8D8;
    border: none;
    padding: 5px;
    font-size: 2vw;
    margin-bottom: 10px;
  }
  .signup_done{
    .signup_button{
      width: 10vw;
      height: 5vh;
      margin-right: 10px;
      border: none;
      border-radius: 5px;
      background-color: #E10000;
      font-size: 2vw;
      color: white;
    }
  }
}


.signin_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans';
  background-color: white;
  height: 100vh;

  .signin_input{
    width: 60vw;
    height: 4vh;
    background-color: #D8D8D8;
    border: none;
    padding: 5px;
    font-size: 2vw;
    margin-bottom: 10px;
  }

  .signin_done{
    #buttons {
      flex-direction: row;
      justify-content: center;

      .signin_button{
        width: 10vw;
        height: 5vh;
        margin-right: 10px;
        border: none;
        border-radius: 5px;
        background-color: #E10000;
        font-size: 2vw;
        color: white;
      }
    }

    .signup_link{
      margin-top: 10px;

      .signup_text{
        color: #E10000;
        font-weight: bold;
      }
    }
  }
}

// Nav
.Nav{
  position: absolute;
  height: 10vh;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .NavUser{
    display: flex;
    flex-direction: row;
  }
}

// Style attributes for the profile page
.ProfilePage {
  display: flex;
  flex-direction: column;
  background-color: black;

  .BasicInfo {
    height: 15vh;
    color: white;
    margin-left: 30vw;
  }

  .MainProfile {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    height: 85vh;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0 80px;

    .UserInfo {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      margin: 30px;
    }

    .GameData {
      flex-grow: 5;
      margin: 30px;

      .MostPlayed {
        display: flex;
        flex-direction: column;

        .MostFrequentPlayer {
          border: .5px solid black;
          height: 160px;
          width: 100px;
          align-self: center;
        }
      }

      .Badge-Section {
        display: flex;
        flex-direction: column;

        .Badges {
          align-self: center;

          .Badge-Singular {
            border: 1px solid black;
            border-radius: 10px;
            height: 120px;
            width: 120px;
          }
        }
      }
    }
  }
}
